body {
    margin: 0;
    padding: 0;
}

body {
    padding: 0px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

div {
    margin: 0;
    padding: 0;
}

.lineblack1,
.lineblack2,
.lineblack3,
.lineblack4 {
    width: 100%;
    margin-top: 40px;
    height: 40px;
    background-color: black;
}

.linegray1,
.linegray2,
.linegray3,
.linegray4 {
    position: fixed;
    width: 25%;
    margin-top: 40px;
    height: 40px;
    background-color: #3a3a3a;
    overflow: hidden;
}

.row1,
.row2,
.row3 {
    width: 100%;
    display: block;
}

.tile2,
.tile4,
.tile5,
.tile6,
.tile7,
.tile11 {
    width: 25%;
    height: 350px;
    background-color: #3A3A3A;
    display: inline-block;
}

.tile1,
.tile3,
.tile8,
.tile9,
.tile10,
.tile12 {
    width: 25%;
    height: 350px;
    background-color: black;
    display: inline-block;
}